<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352536974823-as3bsauekfr73t8kd5icsp4ssqafuoob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352536974823-as3bsauekfr73t8kd5icsp4ssqafuoob</string>
	<key>API_KEY</key>
	<string>AIzaSyB3w_jDy4x8eC89ncfQ3pCygP3_z1X4h60</string>
	<key>GCM_SENDER_ID</key>
	<string>352536974823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifes</string>
	<key>PROJECT_ID</key>
	<string>lifes-esp</string>
	<key>STORAGE_BUCKET</key>
	<string>lifes-esp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352536974823:ios:8b493e628ed8b627e71942</string>
</dict>
</plist>